<% include partials/header %>

<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <h4 class="text-center">Login to your account</h4>
            <div class="card">
                <form class="card-body" action="/login" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <input class="btn btn-primary w-100" type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>