<% include partials/header %>

<h1>Create a new campground</h1>

<form action="/campgrounds" method="post">
    <input type="text" name="name" placeholder="campground name" id="">
    <input type="text" name="image" placeholder="image url" id="">
    <input type="submit">
</form>

<% include partials/footer %>